<div class="well">
  <h4>Wikis are a great way to collaborate on community-sourced content. Blocipedia lets users create their own wikis and share them publicly or privately with other collaborators.</h4>
  <h5><a href="https://github.com/lkang-pdx/blocipedia">GitHub Repo</a></h5>
</div>

<script type="text/javascript">
    $(document).on("ready page:load", function () {
       scrutinize.report("About Page");
     })
</script>
