<div class="well">
  <h3>Blocipedia allows users create their own wikis and share them publicly or privately with other collaborators.</h3>
  <h4>Features:</h4>
  <ul>
    <li>Support admin, standard, and premium roles</li>
    <li>Create public wikis as a standard user</li>
    <li>Upgrade account using Stripe</li>
    <li>Create private wikis as a premium or admin user</li>
    <li>Add and remove collaborators for private wikis</li>
    <li>Render Markdown syntax using Redcarpet gem</li>
    <li>Search wikis using Elasticsearch</li>
  </ul>
  <h5><a href="https://github.com/lkang-pdx/blocipedia">GitHub Repo</a></h5>
</div>

<script type="text/javascript">
    $(document).on("ready page:load", function () {
       scrutinize.report("About Page");
     })
</script>
