<div id='banner'>
  <div class='banner_content'>
    <h1>Wikkr</h1>
    <h3>Join the millions of people who rely on Wikkr<br>to capture off-the-cuff ideas.</h3>
    <p>
      <%= link_to "Sign Me Up", new_user_registration_path, class: 'button bt-primary' %>
    </p>
  </div>
</div>
<!-- <div id='bottom_cta'>
  <div class='wrapper'>
    <i class='fa fa-flash fa-3x'></i>
    <h2>Brainstorm Like a Boss</h2>
    <p>Collaborate seamlessly with coworkers from anywhere.</p>
    <p>
      <%= link_to "Sign Me Up", new_user_registration_path, class: 'button' %>
    </p>
  </div>
</div> -->
<footer>
  <p>Copyright &copy; 2017 Wikkr</p>
</footer>
