<div class="jumbotron">
  <h1>Blocipedia</h1>
  <p>Share knowledge with your friends!</p>
</div>
<p class="lead">
  <blockquote>
    <p>Wikis are a great way to collaborate on community-sourced content.</p>
    <footer>Luna Kang</cite></footer>
  </blockquote>
</p>
<div class="columns">
  <ul class="price">
    <li class="header">Basic Plan</li>
    <li class="grey">FREE</li>
    <li>Free public wikis</li>
    <li class="grey"><%= link_to "Go Basic", new_user_registration_path, class: 'btn btn-primary btn-lg' %></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header-premium">Premium Plan</li>
    <li class="grey">$15/month</li>
    <li>Unlimited private wikis</li>
    <li class="grey"><%= link_to "Go Premium", new_user_registration_path, class: 'btn btn-primary btn-lg' %></li>
  </ul>
</div>
<div class="columns">
  <ul class="price">
    <li class="header-platinum">Platinum Plan</li>
    <li class="grey">$150/year</li>
    <li>Coming soon!</li>
    <li class="grey"><%= link_to "Go Platinum", new_user_registration_path, class: 'btn btn-primary btn-lg' %></li>
  </ul>
</div>
