* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: gray;
    color: white;
    font-size: 25px;
}

/* Pricing header */
.header-premium {
    background-color: #0099ff;
    color: white;
    font-size: 25px;
}

.header-platinum {
    background-color: #00b08b;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

#banner {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(image_path("meeting.jpg"));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	width: 100%;
	min-height: 700px;
	display: table;
	.banner_content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		h1 {
			@include bold_font;
			color: white;
			font-size: 4rem;
			margin: 0;
      margin-bottom: 10px;
		}
		h3 {
			font-size: 2.5rem;
			margin: 2 2 2 2;
			color: white;
      margin-bottom: 30px;
		}
	}
}

#bottom_cta {
	text-align: center;
	padding: 5rem 0;
	h2 {
		@include bold_font;
		color: $green;
		font-size: 3rem;
		margin-top: 10px;
    margin-bottom: 10px;
	}
	p {
			font-size: 1.75rem;
			color: $dark_gray;
      margin-bottom: 20px;
		}
}
